@font-face {
	font-family: 'ubuntu';
	src: url('../font/ubuntu.ttf');
}
* {
	font-family:ubuntu;
}
body {
	text-align:center;
}
#body {
	width:100%;
	height:calc(100% - 50px);
	position:fixed;
	top:0px;
	left:0px;
	overflow:auto;
	background-image:url('../img/bg.jpg');
	background-size:100% 100%;
	transition:.3s;
	background-color:white;
}
#body.fade {
	opacity:0;
}
#valign {
	width:400px;
	height:400px;
	position:absolute;
	top:calc(50% - 200px);
	left:calc(50% - 200px);
}
#logo {
	width:200px;
	height:200px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
	margin-top:-35px;
}
#box {
	display:inline-block;
	padding:30px;
	padding-top:0px;
	border:1px solid lightgray;
	background-color:whitesmoke;
	box-shadow:inset 1px 1px 0px white, inset -1px -1px 0px white, 0px 10px 20px rgba(0,0,0,.05);
}
#box input[type=text], #box input[type=password] {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	width:280px;
	height:20px;
	border:1px solid lightgray;
	padding:5px;
	font-size:14px;
	background-image:url('../img/user.png');
	background-size:18px 18px;
	background-position:right 5px center;
	background-repeat:no-repeat;
	box-shadow:1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white, inset 0px 0px 3px whitesmoke;
}
#box button {
	display:inline-block;
	width:141px;
	height:30px;
	line-height:28px;
	margin-left:5px;
	margin-right:5px;
	border:none;
	background-color:#fbfbfb;
	border:1px solid lightgray;
	font-size:14px;
	cursor:pointer;
	box-shadow:1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white, inset 1px 1px 0px white, inset -1px -1px 0px white;
}
#box button:hover {
	background-color:white;
}
#box button:active {
	background-color:whitesmoke;
}
#box input[type=checkbox] {
	margin-top:25px;
}
#footer {
	height:50px;
	border-top:1px solid lightgray;
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	background-color:whitesmoke;
	color:rgba(0,0,0,.8);
	font-size:14px;
	line-height:49px;
	box-shadow:inset 0px 1px 0px white, 0px 0px 20px rgba(0,0,0,.05);
}
#box input[name=password] {
	background-image:url('../img/pass.png');
}
#loader {
	position:fixed;
	top:calc(50% - 150px);
	left:calc(50% - 55px);
	width:80px;
	height:80px;
	transition:.3;
}
#loader.fade {
	opacity:1;
}
#error {
	display:inline-block;
	color:#c20000;
	font-size:14px;
	width:300px;
	line-height:22px;
	padding-top:15px;
	padding-bottom:15px;
}
.loader, .loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
.loader {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(0, 0, 0, 0.05);
	border-right: 1.1em solid rgba(0, 0, 0, 0.05);
	border-bottom: 1.1em solid rgba(0, 0, 0, 0.05);
	border-left: 1.1em solid black;
	transform: translateZ(0);
	animation: load8 .5s infinite linear;
}
@-webkit-keyframes load8 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
